@page
@using ArmchairExpertsCom.Models
@using ArmchairExpertsCom.Services
@model ArmchairExpertsCom.Pages.Films.Details

@{
    ViewData["Title"] = Model.Film.Title;
    var image = (Image) Model.Film.Images.First();
}

<div class="topBackground">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mx-4" id="carouselPictures">
                <a href="#">
                    <img id="bookPictures" class="rounded border border-dark " src="@image.Path">
                </a>
            </div>
            <div class="col-md-8">
                <a href="#">
                    <h3 class="text-center" id="books_nameOfPictures">@Model.Film.Title</h3>
                </a>
                <p id="book_description">Режиссеры: @Model.Film.Producers</p>
                <p id="book_description">Актёры: @Model.Film.Actors</p>
                <p id="book_description">Жанры:
                @foreach (FilmGenre genre in @Model.Film.Genres)
                {
                    <text>@genre.Name, </text>
                }
                </p>
                <p id="book_description">Год: @Model.Film.Year</p>
                <p id="book_description">@Model.Film.Description</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mx-4" id="carouselPictures">
                <h2 id="book_description">Рейтинг: @ContentMaker.GetFilmRating(Model.Film)</h2>
            </div>
        </div>
    </div>
</div>

<div class="topBackground">
    <div class="container">
        <h3 class="text-center" id="titleText">Похожие фильмы</h3>
        <div class="container">
            <div id="carouselTOP" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators my-0">
                    <li data-target="#carouselTOP" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselTOP" data-slide-to="1"></li>
                    <li data-target="#carouselTOP" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            @for (var i = 0; i < 3; i++)
                            {
                                @await Html.PartialAsync("CarouselElementPartial", Model.SimilarFilms[i]);
                            }
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            @for (var i = 3; i < 6; i++)
                            {
                                @await Html.PartialAsync("CarouselElementPartial", Model.SimilarFilms[i]);
                            }
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            @for (var i = 6; i < 9; i++)
                            {
                                @await Html.PartialAsync("CarouselElementPartial", Model.SimilarFilms[i]);
                            }
                        </div>
                    </div>
                </div>
                <!-- Элементы управления -->
                <a id="leftControlButton" class="carousel-control-prev" href="#carouselTOP" role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a id="rightControlButton" class="carousel-control-next" href="#carouselTOP" role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>