@using ArmchairExpertsCom.Models
@using ArmchairExpertsCom.Services
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ArmchairExpertsCom</title>
    <script src="js/site.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container" id="menuMargin">
            <a class="navbar-brand" asp-page="/Index">Диванные эксперты</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mx-2">
                        <a class="nav-link" asp-page="/Books/Index">Книги</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" asp-page="/Serials/Index">Сериалы</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" asp-page="/Films/Index">Фильмы</a>
                    </li>
                    <form class="form-inline mx-4 my-2 my-lg-0" asp-page="/Search" method="get">
                        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                    </form>
                </ul>
                @if (Auth.IsAuthenticated(Context))
                {
                    <a class="nav-link" asp-page="/Expert/Index">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Профиль</button>
                    </a>
                    <a class="nav-link" asp-page="/Logout">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выйти</button>
                    </a>
                }
                else
                {
                    <a class="nav-link" asp-page="/Login">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
                    </a>
                    <a class="nav-link" asp-page="/Registration">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Регистрация</button>
                    </a>
                }
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        <div class="topBackground">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" id="carouselPictures">
                        @foreach (Image image in Model.Expert.Images)
                        {
                            <img id="bookPictures" class="rounded border border-dark " src="@image.Path">
                        }
                    </div>
                    <div class="col text-center">
                        <h3 id="books_nameOfPictures">@Model.Expert.FullName</h3>
                        <div class="col">
                            <div id="book_description">Дата рождения: @Model.Expert.BirthDate</div>
                        </div>
                        @if (Auth.IsOtherUser(Context))
                        {
                            <div>
                                <form method="post">
                                    <input type="hidden" name="id" value="@Model.Expert.Id">
                                    <button class="btn btn-light">
                                        @if (Auth.IsSubscribed(Context))
                                        {
                                            <text>Отписаться</text>
                                        }
                                        else
                                        {
                                            <text>Подписаться</text>
                                        }
                                    </button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        
        <div class="filterBackground bg-light my-0">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-1" id="filterButton">
                        <p></p>
                        <p></p>
                        <div class="dropdown text-center my-2">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true">
                                Просмотренное:
                            </button>
        
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-page="/Expert/Films" asp-route-id="@Model.Expert.Id">Фильмы</a>
                                <a class="dropdown-item" asp-page="/Expert/Serials" asp-route-id="@Model.Expert.Id">Сериалы</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-1" id="filterButton">
                        <div class="text-center my-2">
                            <a class="nav-link active" asp-page="/Expert/Books" asp-route-id="@Model.Expert.Id">
                                <button class="btn" type="button"
                                        id="dropdownMenuButton" aria-haspopup="true">
                                    Прочитанное
                                </button>
                            </a>
                        </div>
                    </div>
        
                    <div class="col-md-1" id="filterButton">
                        <div class="text-center my-2">
                            <a class="nav-link active" asp-page="/Expert/Subscribes" asp-route-id="@Model.Expert.Id">
                                <button class="btn" type="button"
                                        id="dropdownMenuButton" aria-haspopup="true">
                                    Подписки
                                </button>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-1" id="filterButton">
                        <div class="text-center my-2">
                            <a class="nav-link active" asp-page="/Expert/Reviews" asp-route-id="@Model.Expert.Id">
                                <button class="btn" type="button" id="dropdownMenuButton"
                                        aria-haspopup="true">
                                    Рецензии
                                </button>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-1" id="filterButton">
                        <div class="text-center my-2">
                            <a class="nav-link active" asp-page="/Expert/Selections" asp-route-id="@Model.Expert.Id">
                                <button class="btn" type="button" id="dropdownMenuButton"
                                        aria-haspopup="true">
                                    Подборки
                                </button>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-1" id="filterButton">
                        <div class="text-center my-2">
                            <a class="nav-link active" asp-page="/Expert/Pending" asp-route-id="@Model.Expert.Id">
                                <button class="btn" type="button"
                                        id="dropdownMenuButton" aria-haspopup="true">
                                    Отложенное
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>