@using ArmchairExpertsCom.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ArmchairExpertsCom</title>
    <script src="js/site.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container" id="menuMargin">
            <a class="navbar-brand" asp-page="/Index">Диванные эксперты</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active  mx-2 ">
                        <a class="nav-link" asp-page="/Index">Главная<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" asp-page="/Books/Index">Книги</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" asp-page="/Serials/Index">Сериалы</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" asp-page="/Films/Index">Фильмы</a>
                    </li>
                    <form class="form-inline mx-4 my-2 my-lg-0" asp-page="/Search" method="post">
                        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                    </form>
                </ul>
                    <a class="nav-link" asp-page="/Profile">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Профиль</button>
                    </a>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        <div class="topBackground">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" id="carouselPictures">
                        @foreach (Image image in Model.CurrentUser.Images)
                        {
                            <img id="bookPictures" class="rounded border border-dark " src="@image.Path">
                        }
                    </div>
                    <div class="col">
                        <h3 class="text-center" id="books_nameOfPictures">@Model.CurrentUser.FullName</h3>
                        <div class="col">
                            <p class="text-center">Информация</p>
                            <p id="book_description">Дата рождения: @Model.CurrentUser.BirthDate</p>
                            @*<p id="book_description">Любимый жанр фильмов:</p>
                            <p id="book_description">Любимый жанр сериалов:</p>
                            <p id="book_description">Любимый жанр книг:</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="filterBackground bg-light my-0">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-1" id="filterButton">
                        <p></p>
                        <p></p>
                        <div class="dropdown text-center my-2">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true">
                                Просмотренное:
                            </button>
        
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-page="/Profile/Films">Фильмы</a>
                                <a class="dropdown-item" asp-page="/Profile/Books">Книги</a>
                                <a class="dropdown-item" asp-page="/Profile/Serials">Сериалы</a>
                            </div>
                        </div>
                    </div>
                    
                    @*<div class="col-md-1" id="filterButton">
                        <div class="text-center my-2">
                            <a class="nav-link active" href="profile-wall.html">
                                <button class="btn" type="button"
                                        id="dropdownMenuButton" aria-haspopup="true">
                                    Посты
                                </button>
                            </a>
                        </div>
                    </div>*@
        
                    <div class="col-md-1" id="filterButton">
                        <div class="text-center my-2">
                            <a class="nav-link active" asp-page="/Profile/Friends">
                                <button class="btn" type="button"
                                        id="dropdownMenuButton" aria-haspopup="true">
                                    Друзья
                                </button>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-1" id="filterButton">
                        <div class="text-center my-2">
                            <a class="nav-link active" asp-page="/Profile/Reviews">
                                <button class="btn" type="button" id="dropdownMenuButton"
                                        aria-haspopup="true">
                                    Рецензии
                                </button>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-1" id="filterButton">
                        <div class="text-center my-2">
                            <a class="nav-link active" asp-page="/Profile/Selections">
                                <button class="btn" type="button" id="dropdownMenuButton"
                                        aria-haspopup="true">
                                    Подборки
                                </button>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-1" id="filterButton">
                        <div class="text-center my-2">
                            <a class="nav-link active" asp-page="/Profile/Pending">
                                <button class="btn" type="button"
                                        id="dropdownMenuButton" aria-haspopup="true">
                                    Отложенное
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>