@page
@using ArmchairExpertsCom.Models
@model ArmchairExpertsCom.Pages.Selections.Create

@{
    ViewData["Title"] = "Создать подборку";
}

<div class="topBackground">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center" id="wall">Создать подборку</h2>
            </div>
        </div>
    </div>
</div>

<div class="topBackground">
    <div id="reviewFormBack" style="height: 100%; padding-top: 50px; padding-bottom: 50px">
        <div class="container">
            <form method="post">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="title">Название</label>
                        <input type="text" class="form-control" id="title" name="title" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Описание</label>
                        <textarea class="form-control" id="description" rows="15" name="text"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @if (Model.ReadBooks.Any())
                        {
                            var i = 0;
                            <div>
                                <label>Добавить книгу</label>
                                @foreach (var book in Model.ReadBooks)
                                {
                                    <div><input type="checkbox" name="Books" value="@i"> @book.ToString();</div>
                                    i++;
                                }
                            </div>
                        }
                        @if (Model.WatchedFilms.Any())
                        {
                            var i = 0;
                            <div>
                                <label>Добавить фильм</label>
                                @foreach (var film in Model.WatchedFilms)
                                {
                                    <div><input type="checkbox" name="Films" value="@i"> @film.ToString();</div>
                                    i++;
                                }
                            </div>
                        }
                        @if (Model.WatchedSerials.Any())
                        {
                            var i = 0;
                            <div>
                                <label>Добавить сериал</label>
                                @foreach (var serial in Model.WatchedSerials)
                                {
                                    <div><input type="checkbox" name="Serials" value="@i"> @serial.ToString();</div>
                                    i++;
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="col text-center">
                    <button class="btn btn-outline-light">Опубликовать</button>
                </div>
            </form>
        </div>
    </div>
</div>