@page
@using ArmchairExpertsCom.Models
@model ArmchairExpertsCom.Pages.Serials.Details

@{
    ViewData["Title"] = Model.Serial.Title;
    var image = (Image) Model.Serial.Images.First();
}

<div class="topBackground">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mx-4" id="carouselPictures">
                <a href="#">
                    <img id="bookPictures" class="rounded border border-dark " src="@image.Path">
                </a>
            </div>
            <div class="col-md-8">
                <a href="#">
                    <h3 class="text-center" id="books_nameOfPictures">@Model.Serial.Title</h3>
                </a>
                <p id="book_description">Авторы: @Model.Serial.Producers</p>
                <p id="book_description">Авторы: @Model.Serial.Actors</p>
                <p id="book_description">Жанры:</p>
                @foreach (SerialGenre genre in @Model.Serial.Genres)
                {
                    <text>@genre.Name, </text>
                }
                <p id="book_description">Года: @Model.Serial.StartYear - @Model.Serial.EndYear</p>
                <p id="book_description">@Model.Serial.Description</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mx-4" id="carouselPictures">
                <h2 id="book_description">Рейтинг: @Model.Serial.Rating</h2>
            </div>
        </div>
    </div>
</div>