@page
@model ArmchairExpertsCom.Pages.BookProfile

@{
    ViewData["Title"] = "Book";
}

<div class="topBackground">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mx-4" id="carouselPictures">
                <a href="#">
                @*<img id="bookPictures" class="rounded border border-dark " src="@Model.Book.Image.Path">*@
                </a>
            </div>
            <div class="col-md-8">
                <a href="#">
                    @*<h3 class="text-center" id="books_nameOfPictures">@Model.Book.Title</h3>*@
                </a>
                <a id="book_description">Жанр: пока нету жанорв</a>
                @*<p id="book_description">Год: @Model.Book.Year</p>
                <p id="book_description">@Model.Book.Description</p>*@

            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mx-4" id="carouselPictures">
                @*<h2 id="book_description">Рейтинг: @Model.Book.Rating</h2>*@
            </div>
        </div>
    </div>
</div>