@page
@using ArmchairExpertsCom.Pages.Models
@model ArmchairExpertsCom.Pages.Books
@{
    ViewData["Title"] = "Books";
}

@foreach (var book in Model.AllBooks)
{
    <div class="topBackground">
        <div class="container">
            <div class="row">
                <div class="col-md-3" id="carouselPictures">
                    <a asp-page="/BookProfile" asp-route-id="@book.Id">
                        @foreach (Image image in book.Images)
                        {
                            <img id="bookPictures" class="rounded border border-dark " src="@image.Path">
                        }
                    </a>
                </div>
                <div class="col">
                    <a asp-page="/BookProfile" asp-route-id="@book.Id"><h3 class="text-center" id ="books_nameOfPictures">@book.Title</h3></a>
                    <div class="col">
                        <p class="text-center">@book.Description</p>
                        <p class="text-center">Жанры</p>
                        @foreach (BookGenre genre in @book.Genres)
                        {
                            <text>@genre.Name, </text>
                        }
                    </div>
                </div>
            </div>  
        </div>
    </div>
}
