@page
@using ArmchairExpertsCom.Models
@using ArmchairExpertsCom.Services
@model ArmchairExpertsCom.Pages.Books.Details

@{
    ViewData["Title"] = Model.Book.Title;
    var image = (Image) Model.Book.Images.First();
}

<div class="topBackground">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mx-4" id="carouselPictures">
                <a href="#">
                    <img id="bookPictures" class="rounded border border-dark " src="@image.Path">
                </a>
            </div>
            <div class="col-md-8">
                <a href="#">
                    <h3 class="text-center" id="books_nameOfPictures">@Model.Book.Title</h3>
                </a>
                <p id="book_description">Авторы: @Model.Book.Authors</p>
                <p id="book_description">Жанры:</p>
                @foreach (BookGenre genre in @Model.Book.Genres)
                {
                    <text>@genre.Name, </text>
                }
                <p id="book_description">Год: @Model.Book.Year</p>
                <p id="book_description">@Model.Book.Description</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mx-4" id="carouselPictures">
                <h2 id="book_description">Рейтинг: @Model.Book.Rating</h2>
            </div>
        </div>
    </div>
</div>
